<template>
  <div>
    <md-toolbar md-theme="blue">
      <md-button class="md-icon-button" @click="$refs.sidenav.toggle()">
        <md-icon>menu</md-icon>
      </md-button>
      <h2 class="md-title" style="flex: 1">{{currentView}}</h2>
    </md-toolbar>
    <md-sidenav md-theme="blue" class="md-left" ref="sidenav">
      <md-toolbar class="md-account-header">
        <md-list class="md-transparent">
          <md-list-item>
            <md-icon class="md-size-2x md-accent">assignment_ind</md-icon><h1>Visitor</h1>
          </md-list-item>
        </md-list>
      </md-toolbar>

      <md-list>
        <router-link to="/visits" >
          <md-list-item @click="changeCurrentView('Посещения')">        
            <md-icon>access_time</md-icon><span class="sideNavLabel"> Посещения</span>        
          </md-list-item>
        </router-link>
        <router-link to="/visitors">
          <md-list-item @click="changeCurrentView('Посетители')">
            <md-icon>people</md-icon><span class="sideNavLabel">Посетители</span>
          </md-list-item>
        </router-link>
      </md-list>
    </md-sidenav>
  </div>
</template>

<script>
export default {
  name: 'navigation',
  data () {
    return {
      currentView: 'Посещения'
    }
  },
  methods: {
    changeCurrentView: function (currentView) {
      this.currentView = currentView
      this.$refs.sidenav.toggle()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
md-button md-icon-button material-icons.md-48 {
    font-size: 48px
  }
.sideNavLabel {
  color: black   
}
</style>
