<template>
  <md-layout md-gutter>
    <md-layout md-flex="30" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="40">
      <form @submit.prevent="createVisit()">
        <md-card>        
          <md-card-content>
            <md-input-container>
              <label for="visitorList">Посетители</label>
              <md-select name="visitorList" id="visitorList" v-model="visit.visitorId" >
                <md-option v-for="visitor in visitorsList" v-bind:key="visitor.id" v-bind:value="visitor.id">{{visitor.fullName}}</md-option>
              </md-select>
            </md-input-container>
          </md-card-content>
          <md-card-actions>
            <md-button type="submit">Добавить посещениe</md-button>
          </md-card-actions>
        </md-card>
      </form>
    </md-layout>
    <md-layout md-flex="70" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="60">
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <md-input-container>
              <label for="visitorList">Найти</label>
              <md-input v-model="searchQuery"></md-input>
            </md-input-container>
          </md-card-header-text>
          <md-button @click = "getVisits()">Найти</md-button>
        </md-card-header>
        <md-card-content>
          <md-list class="custom-list md-triple-line" >
            <md-list-item  v-for="visit in visits" v-bind:key="visit.id">
              <div class="md-list-text-container">
                <span>{{visit.visitorFullName}}</span>
                <p>{{visit.creationDate | formatDateTime}}</p>
              </div>
            </md-list-item>
          </md-list> 
        </md-card-content>
      </md-card>
    </md-layout>
  </md-layout> 
</template>

<script>
export default {
  name: 'visits',
  data () {
    return {
      msg: 'Welcome to Visits',
      visits: [],
      searchQuery: '',
      visitorsList: [],
      visit: {}
    }
  },
  computed: {
    resource: function () {
      return this.$resource('http://localhost:6532/api{/controller}{/addAction}{/query}{/id}')
    }
  },
  methods: {
    getVisits: function () {
      this.resource.get({controller: 'visits', addAction: 'getvisits', query: this.searchQuery}).then(
      function (response) {
        this.visits = response.data
        console.log(response.data)
      },
      function (error) {
        console.log(error)
      })
    },
    getVisitorsList: function () {
      this.resource.get({controller: 'visitors'}).then(
      function (response) {
        this.visitorsList = response.data
        console.log(response.data)
      },
      function (error) {
        console.log(error)
      })
    },
    createVisit: function () {
      console.log(this.visit)
      this.resource.save({controller: 'visits'}, this.visit).then(
        function (response) {
          this.getVisits()
          this.visit = {}
          console.log(response.data)
        },
        function (error) {
          console.log(error)
        })
    }
  },
  created: function () {
    this.getVisitorsList()
    this.getVisits()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
md-button md-icon-button material-icons.md-48 {
    font-size: 48px
  }
</style>
