<template>
  <md-layout>
    <md-layout md-flex="30" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="40">
      <form @submit.prevent="createVisitor()">
        <md-card>
          <md-card-content>
            <md-input-container>
              <label>Фамилия</label>
              <md-input v-model="visitor.lastName" required="true"></md-input>
            </md-input-container>
            <md-input-container>
              <label>Имя</label>
              <md-input v-model="visitor.firstName" required="true"></md-input>
            </md-input-container>
            <md-input-container>
              <label>Отчество</label>
              <md-input v-model="visitor.patronymic" required="true"></md-input>
            </md-input-container>
            <md-input-container>
              <label>Дата рождения</label>
              <md-input type="date" name="birthDate" v-model="visitor.birthDate" required="true"></md-input>
            </md-input-container>
            <md-input-container>
              <label for="genders">Пол</label>
              <md-select name="genders" id="genders" v-model="visitor.gender" >
                <md-option value="0">Мужской</md-option>
                <md-option value="1">Женский</md-option>
              </md-select>
            </md-input-container>
          </md-card-content>
          <md-card-actions>
            <md-button type="submit">Сохранить</md-button>
          </md-card-actions>
        </md-card>
      </form>
    </md-layout>
    <md-layout md-flex="70" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="60">
      <md-card>
        <md-card-header >
          <md-card-header-text>
            <md-input-container>
              <label for="visitorList">Найти</label>
              <md-input v-model="searchQuery"></md-input>
            </md-input-container>
          </md-card-header-text>
          <md-button @click = "getVisitors()">Найти</md-button>
        </md-card-header>
        <md-card-content>
          <md-list class="custom-list md-triple-line" >
            <md-list-item  v-for="visitor in visitors" v-bind:key="visitor.id">
              <div class="md-list-text-container">
                <span>{{visitor.fullName}}</span>
                <p>{{visitor.birthDate | formatDate}}</p>
                <p>Количество посещений: {{visitor.visitCount}}</p>
              </div>
            </md-list-item>
          </md-list> 
        </md-card-content>
      </md-card>
    </md-layout>
  </md-layout>
</template>

<script>
export default {
  name: 'visitors',
  data: function () {
    return {
      msg: 'Welcome to Visitors',
      visitors: [],
      visitor: {},
      searchQuery: ''
    }
  },
  computed: {
    resource: function () {
      return this.$resource('http://localhost:6532/api/visitors/{/addAction}{/query}{/id}')
    }
  },
  methods: {
    getVisitors: function () {
      this.resource.get({addAction: 'searchvisitors', query: this.searchQuery}).then(
      function (response) {
        this.visitors = response.data
        console.log(response.data)
      },
      function (error) {
        console.log(error)
      })
    },
    createVisitor: function () {
      this.resource.save(this.visitor).then(
        function (response) {
          this.getVisitors()
          this.visitor = {}
          console.log(response.data)
        },
        function (error) {
          console.log(error)
        })
    }
  },
  created: function () {
    this.getVisitors()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
md-button md-icon-button material-icons.md-48 {
    font-size: 48px
  }
</style>
